body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11vmin;
    color: coral;
}

#calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    border-style: solid;
    border-width: 3px;
    border-color: violet;  
}

#teclasYoperaciones {
    display:flex;
    border-style: solid;
    border-width: 3px;
    border-color: crimson; 
}

#teclas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: tomato; 
}

.digitos {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: orangered;  
}

.digitos button {
    font-size: 11vmin;
    border-style: solid;
    border-width: 3px;
    border-color: yellowgreen;
}

#operaciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: green; 
}

#operaciones button {
    font-size: 7vmin;
    border-style: solid;
    border-width: 3px;
    border-color: rebeccapurple; 
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}